@import "alchemy-widget-symbols.scss";

alchemy-widgets,
alchemy-widgets-row,
alchemy-widgets-column,
alchemy-widget {
	
}

alchemy-widgets,
alchemy-widgets-row,
alchemy-widgets-column {
	display: flex;

	&.aw-editing {
		position: relative;
		min-height: 3rem;
	}

	> * {
		flex: 10 10 auto;
	}
}

alchemy-widget {
	&.aw-editing {
		outline: 2px dashed rgba(0, 0, 0, 0.3);
		outline-offset: -2px;
	}
}

alchemy-widgets-row,
alchemy-widgets-column {

	&.aw-editing {
		&:hover {
			background: rgba(60, 60, 60, 0.1);
		}
	}
}

alchemy-widgets,
alchemy-widgets-column {
	flex-flow: column;

	&.aw-editing {
		padding-bottom: 5rem;
	}

	> alchemy-widget-add-area {
		position: absolute;
		bottom: 0.2rem;
		left: 50%;
		transform: translateX(-50%);
	}
}

alchemy-widgets {
	min-width: 10rem;
	min-height: 10rem;

	&.aw-editing {
		outline: 2px dashed rgba(0, 0, 0, 0.3);
		outline-offset: -2px;
	}
}

alchemy-widgets-row {
	flex-flow: row;
	flex: 10 10 auto;

	&.aw-editing {
		padding-right: 5rem;
	}

	> alchemy-widget-add-area {
		position: absolute;
		right: 0.5rem;
		top: 50%;
		transform: translateY(-50%);
	}
}

alchemy-widget-add-area {
	background: rgba(255,255,255,0.5);
	padding: 0.5rem 2rem;
	border-radius: 2rem;
	z-index: 99999999;

	.widget-button {
		min-height: 2.5rem;
		padding: 1rem;
	}
}

alchemy-widgets-row,
alchemy-widgets > alchemy-widgets-column,
alchemy-widgets-column > alchemy-widgets-column,
.alchemy-widgets-container > alchemy-widgets-column {
	&.aw-editing {

		&::after {
			content: "";
			position: absolute;
			height: 1px;
			left: 15px;
			right: 15px;
			bottom: 0;
			border-bottom: 2px dashed rgba(0, 0, 0, 0.3);

			// Reset some things (in case of a nested column)
			width: initial;
			border-right: initial;
			top: initial;
		}
	}
}

alchemy-widgets-column {
	flex: 10 10 auto;
}

alchemy-widgets-column,
alchemy-widgets-row > alchemy-widgets-row,
.alchemy-widgets-container > alchemy-widgets-row {
	&.aw-editing {
		&::after {
			content: "";
			position: absolute;
			width: 1px;
			top: 10px;
			bottom: 10px;
			right: 0;
			border-right: 2px dashed rgba(0, 0, 0, 0.3);

			// Reset some things (in case of a nested row)
			left: initial;
			border-bottom: initial;
			height: initial;
		}
	}
}

alchemy-widget-add-area {
	display: flex;
	justify-content: center;
	align-items: center;

	.widget-types {
		display: none;
	}

	&.show-types {
		.main-button {
			display: none;
		}

		.widget-types {
			display: initial;
		}
	}

	.main-button {
		display: flex;
	}
}

.aw-toolbar-button,
.widget-button {
	color: #707684;
	cursor: pointer;
	border: none;
	background: none;

	display: flex;
	align-content: center;
	min-height: 26px;
	align-items: center;
	text-transform: uppercase;

	&:hover {
		color: #388ae5;
	}
}

alchemy-widget {
	display: block;

	&.aw-editing {
		min-height: 2rem;

		&:hover {
			background: rgba(60, 60, 120, 0.2);

			// This actually causes some glitches on Firefox :/
			backdrop-filter: blur(4px);
		}
	}

	&.aw-selected {
		background-color: #7979f347;
		outline: 1px dashed #7979f399;
	}
}

alchemy-widget-context,
alchemy-widget-toolbar {
	display: block;
	padding: 0.4rem;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #dadada;
	font-size: 2rem;

	&[hidden] {
		display: none;
	}
}

alchemy-widget-context {
	position: fixed;
	z-index: 99999;

	alchemy-widget-toolbar {
		position: absolute;
		top: calc(100% + 5px);
		right: 0;
		z-index: 999999;
	}
}

alchemy-widget-toolbar {
	min-height: 2.5rem;
	min-width: 2.5rem;
	display: flex;

	> * {
		margin-right: 5px;
	}

	.aw-toolbar-button {
		font-size: 2.5rem;
		border-radius: 4px;
		padding: 0.6rem;

		&:hover {
			color: rgb(112, 118, 132);
			background-color: #f0f0f0;
		}

		&.aw-button-selected {
			color: #388ae5;
		}
	}
}

alchemy-widget[type="header"] {

	h1, h2, h3, h4, h5, h6 {
		padding: 1em 0;
		margin: 0;
		line-height: 1.5em;
		outline: none;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}
}

alchemy-widget[type="text"] {

	&.aw-editing {
		&,
		& > * {
			min-width: 5rem;
			min-height: 3rem;
		}

		& > * {
			display: inline-block;
			width: 100%;
		}
	}
}

.aw-toolbar-button {

	.aw-header-h {
		font-weight: bold;
		font-size: 1.2em;
	}

	.aw-header-level {
		font-weight: bold;
		height: 1.3em;
	}
}

table-of-contents {
	display: block;
}

[data-he-template="widget/widget_config"] {
	alchemy-label {
		padding: 0.5rem;

		[data-he-name="field-title"] {
			display: block;
		}
	}
}